@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

header {
    background-color: rgba(245, 33, 33, 0.76);
    background-image: url('red-wave.jpg');
    background-position: center;
    background-size: cover;
    height: 85px;
    border-bottom: 2px;
    opacity: 0.8;
    box-shadow: inset 0 0 8px 0.7px rgb(0, 0, 0);
}

#img {
    height: 38vh;
}

#inline-options {
    display: flex;
    justify-content: space-evenly;
    margin-left: 23%;
    margin-right: 17%;
    margin-bottom: 75px;
    gap: 68px;
}

#view-routine {
    text-decoration: none;
    font-weight: bold;
    color: red;
    font-size: 1.3rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#view-routine:hover {
    box-shadow: inset -320px 0 0 0 #fa1b1b;
    color: white;
}

#view-all-routines {
    color: rgb(255, 0, 0);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

#view-all-routines:hover {
    box-shadow: inset 320px 0 0 0 #fa1b1b;
    color: white;
}

#home-p {
    font-size: 1.5rem;
}

#home-login-p {
    font-weight: bold;
    font-size: 2rem;
}

#welcome {
    color: black;
    text-align: center;
    margin-top: 5%;
}

#home-sign-up {
    text-decoration: none;
    color: red;
}

#home-sign-up:hover {
    text-decoration: underline;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

nav>* {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    text-shadow:
        -2px 0 7px rgb(255, 255, 255),
        0 2px 7px rgb(247, 247, 247),
        2px 0 7px rgb(255, 251, 251),
        0 -2px 7px rgb(255, 255, 255);
}

nav>*:hover {
    color: rgb(255, 255, 255);
    text-shadow:
        -2px 0 8px rgb(248, 66, 66),
        0 2px 8px rgb(248, 66, 66),
        2px 0 8px rgb(248, 66, 66),
        0 -2px 8px rgb(248, 66, 66);
}

#join {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 8%;
    margin-left: 25%;
    margin-right: 25%;
}

#join>* {
    margin: auto;
    margin-top: 0.8rem;
}

#join-text {
    margin-top: 8%;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 8%;
    margin-left: 25%;
    margin-right: 25%;
}

#login>* {
    margin: auto;
    margin-top: 0.8rem;
}

#login-text {
    margin-top: 8%;
}

#logout {
    color: black;
    font-weight: bold;
    text-shadow:
        -2px 0 7px rgb(248, 226, 226),
        0 2px 7px rgb(248, 226, 226),
        2px 0 7px rgb(248, 226, 226),
        0 -2px 7px rgb(248, 226, 226);
}

#logout:hover {
    color: rgb(255, 42, 42);
    font-weight: bolder;
    text-decoration: underline;
}

.switch-text {
    color: blue;
}

.hidden {
    display: none;
}

.error {
    animation: 1s anim-lineUp ease-out;
    color: red;
    font-weight: bold;
    text-align: center;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}